.search-form {
    mat-form-field {
        width: 650px;
    }
}

.home-content-footer {
    @media (min-width: 768px) {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.select-homes-image {
    width: 250px;
}

.star-icon {
    color: #388287;
    font-size: inherit;
    width: auto;
    height: auto;
    vertical-align: -0.1rem;
}

.filled {
    background-color: #388287;
}