<form [formGroup]="searchForm" (ngSubmit)="searchHomes()" class="search-form container mt-3 mb-5">
  <div class="row">
    <div class="col">
      <div>
        1. Provide filters in Airbnb, enter homes page
        <img class="select-homes-image" src="assets/select-homes-page.png" alt="">
        , copy & paste URL
      </div>
      <mat-form-field>
        <input matInput required type="url" placeholder="Airbnb Homes Url" formControlName="url">
        <mat-error>This is not a valid airbnb homes url</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="mb-3">
        2. Provide max search page number. It will take longer time if the page number is large, usually 5 pages is
        enough for a satisfied search result.
      </div>
      <mat-form-field>
        <input matInput type="number" placeholder="Max Search Page Number" formControlName="maxPageNumber">
        <mat-error>Please enter a valid integer page number</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button mat-raised-button type="submit" [disabled]="!searchForm.valid">Search</button>
    </div>
  </div>
</form>


<div class="search-results container">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-select [(value)]="selectedSort" placeholder="Sort by" (selectionChange)="sortHomes()">
          <mat-option *ngFor="let option of sortOptions" [value]="option.value">
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button (click)="openFilterDialog()">Filters</button>
    </div>
  </div>

  <div *ngFor="let home of filteredHomes; trackBy: trackHomeItem">
    <mat-card class="mb-3" appElevation>
      <a class="text-decoration-none text-dark" [href]="home.detailPage" target="_blank">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" [src]="home.image" alt="">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col">
                <div>{{home.homeType}}</div>
                <div>{{home.description}}</div>
                <div>{{home.room}}</div>
                <div>{{home.amenity}}</div>
              </div>
            </div>
            <div class="home-content-footer row">
              <div class="col-md-6">
                <mat-icon class="star-icon">star</mat-icon>
                {{home.rating}} ({{home.reviewCount}}) {{home.isSuperhost ? '·Superhost' : ''}}
                {{home.isNew ? '·New' : ''}}
              </div>
              <div class="col-md-6 text-md-right">
                ${{home.price}} /night
              </div>
            </div>
          </div>
        </div>
      </a>
    </mat-card>
  </div>

  <!-- <mat-spinner></mat-spinner> -->