<form [formGroup]="searchForm" (ngSubmit)="searchHomes()" class="container">
  <div class="row mt-3">
    <div class="col">
      <p>1. Fill the input fields on airbnb</p>
      <mat-form-field>
        <input matInput required type="url" placeholder="Airbnb Homes Url" formControlName="url">
        <mat-error>This is not a valid airbnb homes url</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <mat-form-field>
        <input matInput type="number" placeholder="Max Search Page Number" formControlName="maxPageNumber">
        <mat-hint>It will take longer time if a large page number is provided, usually 5 pages is enough
          for a
          satisfied search result.</mat-hint>
        <mat-error>Please enter a valid integer page number</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <button mat-raised-button type="submit" [disabled]="!searchForm.valid">Search</button>
    </div>
  </div>
</form>

<!-- <mat-spinner></mat-spinner> -->