mat-form-field {
    width: 650px;
}
    
.home-content-footer {
    @media (min-width: 768px) {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.select-homes-image {
    width: 250px;
}
    


// @include media-breakpoint-up(md) 
//     .home-content-footer
//         color: red
//         position: absolute
//         width: 100%
//         bottom: 0
    

